<h1>Airline Schedule</h2>
<hr />
<h2>Flights:</h2>

@if (Model.Count !=0)
{
  <ul>
  @foreach (var flight in Model)
  {
    <li><a href="/flights/@flight.GetId()">@flight.GetName()</a></li>
  }
  </ul>
}

<h4><a href="/flights/new">Add a new flight</a></h4>
<h4><a href="/">Return home</a></h4>
