<h1>Airline Schedule</h1>
<h2>Add new flight</h2>
<hr />

<form action="/flights" method="post">
  <label for="flightCode">Flight code:</label>
  <input id="flightCode" name="flightName" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>
