<h1>Add a new city</h1>

<form action='/cities' method='post'>
  <label for='name'>City Name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add new city</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/item">View all items</a></a>
